<h1 class="mb-4 mt-4">Archived Covers (<%= @covers.size %>)</h1>

<div class="mb-4">
  <%= link_to admin_path(password: params[:password]), { class: "btn btn-primary btn-md" } do %>
    Back to Current Covers
  <% end %>
</div>

<%= render "list", covers: @covers %>
