/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.text-link {
	text-decoration: underline;
	cursor: pointer;
}

audio {
    display: block;
    width: 75%;
    border-radius: 20px;
}

.blurb {
	padding-left: 10px;
	border-left: 7px solid gray;
	margin-top: 10px;
}

.cover.selected {
  background-color: rgba(176,196,222,0.2);
  transition: background-color 0.2s ease-in-out;
}

.cover-title {
	cursor: grab;
}

.cover-actions {
  display: flex;
  float: right;
}

.deleting {
	opacity: 50%;
}

.log-in-or-register {
  margin: auto;
  max-width: 18em;
}

.log-in-or-register h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.5em 0 1rem;
}

.log-in-or-register a,
.log-in-or-register input[type='submit'] {
 margin: 1em 0;
}

input[value]:invalid {
  border: red solid 3px;
}

ul.auth-links {
  list-style-type: none;
  padding: 2em 1em 1em 0;
  text-align: center;
}

ul.auth-links li {
  display: inline;
  padding: 0.75em;
}

@media only screen and (max-width: 660px) {
  ul.auth-links li {
    display: block;
  }
}

ul.auth-links li a {
  text-decoration: none;
}
